.aside__left {
  ul {
    li {
      padding: 8px 10px;
      &:hover {
        background-color: rgb(226, 227, 243);
        border-radius: 10px;
        a {
          text-decoration: underline;
        }
      }
      .img {
        width: 30px;
        height: 24px;
      }
    }
  }
}
.other_section {
  p {
    padding-top: 8px;
    padding-left: 12px;
  }
  ul {
    li {
      padding: 8px 16px;
    }
  }
}
.section-social-media {
  a {
    padding: 8px;
    &:hover {
      background-color: rgb(37, 34, 97);
    }
  }
}
