footer {
  font-size: 0.875rem;
  padding: 1.25rem;
  div {
    ul {
      & #footer-list {
        li {
          box-sizing: border-box;
          display: list-item;
        }
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          &.bord-hover {
            &:hover {
              border-bottom: 1px solid rgb(47, 58, 178);
            }
          }
        }
        .dot {
          height: 0.25rem;
          width: 0.25rem;
          background-color: #575757;
          border-radius: 50%;
          display: inline-block;
          margin-left: 0.5rem;
        }
      }
    }
    background-color: rgb(229, 229, 229);
  }
}
